<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Streaming Data Solutions</h2>
        </header>
        <p><h3><strong>Scalable, Streaming Data Architectures</strong></h3>
        <ul>
            <li><strong>DATA</strong>
                <ol><strong>
                    <li><a href="{{ site.baseurl }}/routing.html">Routing</a></li>
                    <li><a href="{{ site.baseurl }}/transformation.html">Transformation</a></li>
                    <li><a href="{{ site.baseurl }}/validation.html">Validation</a></li>
                    <li><a href="{{ site.baseurl }}/profiling.html">Profiling</a></li>
                    <li><a href="{{ site.baseurl }}/cleansing.html">Cleansing</a></li>
                    <li><a href="{{ site.baseurl }}/comparison.html">Comparison</a></li>
                    <li><a href="{{ site.baseurl }}/normalization.html">Normalization</a></li>
                    <li><a href="{{ site.baseurl }}/cross-referencing.html">Cross-Referencing</a></li>
                </strong></ol>
            </li>
        </ul>
        <!--by <a href="http://html5up.net">HTML5 UP</a>.</p>-->
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>