<header id="header">
				<h1 id="logo"><a href="{{ site.baseurl }}/">Streaming Data Solutions <span> ...Beyond Batch</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ site.baseurl }}/">Home</a></li>
						<li class="submenu">
							<a href="">Technology</a>
							<ul>
								<li><a href="{{ site.baseurl }}/routing.html">Routing</a></li>
								<li><a href="{{ site.baseurl }}/transformation.html">Transformation</a></li>
								<li><a href="{{ site.baseurl }}/validation.html">Validation</a></li>
								<li><a href="{{ site.baseurl }}/profiling.html">Profiling</a></li>
								<li><a href="{{ site.baseurl }}/cleansing.html">Cleansing</a></li>
								<li><a href="{{ site.baseurl }}/comparison.html">Comparison</a></li>
								<li><a href="{{ site.baseurl }}/normalization.html">Normalization</a></li>
								<li><a href="{{ site.baseurl }}/cross-referencing.html">Cross-Referencing</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="">Data</a>
							<ul>
								<li><a href="{{ site.baseurl }}/routing.html">Routing</a></li>
								<li><a href="{{ site.baseurl }}/transformation.html">Transformation</a></li>
								<li><a href="{{ site.baseurl }}/validation.html">Validation</a></li>
								<li><a href="{{ site.baseurl }}/profiling.html">Profiling</a></li>
								<li><a href="{{ site.baseurl }}/cleansing.html">Cleansing</a></li>
								<li><a href="{{ site.baseurl }}/comparison.html">Comparison</a></li>
								<li><a href="{{ site.baseurl }}/normalization.html">Normalization</a></li>
								<li><a href="{{ site.baseurl }}/cross-referencing.html">Cross-Referencing</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="">Products</a>
							<ul>
								<li><a href="{{ site.baseurl }}/routing.html">Routing</a></li>
								<li><a href="{{ site.baseurl }}/transformation.html">Transformation</a></li>
								<li><a href="{{ site.baseurl }}/validation.html">Validation</a></li>
								<li><a href="{{ site.baseurl }}/profiling.html">Profiling</a></li>
								<li><a href="{{ site.baseurl }}/cleansing.html">Cleansing</a></li>
								<li><a href="{{ site.baseurl }}/comparison.html">Comparison</a></li>
								<li><a href="{{ site.baseurl }}/normalization.html">Normalization</a></li>
								<li><a href="{{ site.baseurl }}/cross-referencing.html">Cross-Referencing</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="">Company</a>
							<ul>
								<li><a href="{{ site.baseurl }}/about-us.html">About Us</a></li>
								<li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
								<li><a href="{{ site.baseurl }}/careers.html">Careers</a></li>
								<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
							</ul>
						<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>

						<!--<li><a href="#" class="button special">Sign Up</a></li>-->
					</ul>
				</nav>
			</header>